html {
  font-family: 'Microsoft YaHei';
  .logo {
    background-image: url('../../lib/assets/images/logo.png');
    width: 253px;
    height: 109px;
    display: block;
    margin: auto;
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}
